<% var data = {
  title: "Home Page"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

    <input class="ranger-input" type="range" name="percents" min="-1" max="1" step="0.01" value="-0.5" data-max-value="0.8"/>
    <br>
    <br>

    <input class="ranger-input" type="range" name="ages" value="2000" min="0" max="50000" step="1" data-max-value="35000"/>
    <div class="form_control">
        <span class="form_control_container">
          <label class="form_control_container__time">Min</label>
          <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="100"/>
        </span>
      <span class="form_control_container">
          <label class="form_control_container__time">Max</label>
          <input class="form_control_container__time__input" type="number" id="toInput" value="35000" min="0" max="50000"/>
        </span>
    </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.ranger-input').forEach(slide => new SliderController(slide));
    });
  </script>

<%= _.template(require('./parts/footer.html').default)(data) %>
